
# ignore database storage
database/dataset_film_scripts/scraped_scripts/
database/dataset_film_scripts/*.csv
database/dataset_IMDb/ExploratoryAnalysis_sqlPracticeOne/
database/dataset_IMDb/2023_02_12_IMDb_dataset/
database/dataset_movieLens/*.csv
database/dataset_tmdb/posters/*.png
database/dataset_tmdb/df_tmdb_description.csv
database/dataset_the_numbers/

# ignore large .csv and .sav (LDA models) 
movie_recsys/data_preprocessing_out/df_processed_CTM.csv
movie_recsys/model_building_out/hyperparameter_tuning/*.sav
movie_recsys/__pycache__/
movie_recsys/.ipynb_checkpoints/

# ignore df_netwrok.csv file (>1GB)
hollywood_network/df_network.csv

# ignore embeddings storage and final images
embeddings/embeddings_storage/
embeddings/images/

# ignore all powerpoint presentations
*.pptx

# other
__pycache__/