
database_film_scripts/scraped_scripts/
database_IMDb/ExploratoryAnalysis_sqlPracticeOne/
database_IMDb/2023_02_12_IMDb_dataset/
database_movieLens/
database_the_numbers/
eda_actor_network_graph/*.csv
recsys_content_based/data_cleaning_and_synthesis_out/*.csv
recsys_content_based/model_building/hyperparameter_tuning/*.sav
